<div>
    <div class="element" ng-controller="Uppgift8Controller">
        <h1 class="title">Uppgift 8</h1>
        <div class="contain element">
            <table class="table">
                <thead>
                    <tr>
                        <td ng-repeat="(key, value) in Items[0]">
                            <h3>{{key}}</h3>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in Items" ng-mousemove="MouseOver = true" ng-mouseleave="MouseOver = false">
                        <td>
                            <div>{{i.Name}}</div>
                        </td>
                        <td>
                            <div>{{i.Price}}</div>
                        </td>
                        <td style="width:40%;">
                            <div ng-show="MouseOver">
                                {{i.Description}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>